---

- name: Ensure paperless services are stopped and removed
  ansible.builtin.include_tasks: "{{ role_path }}/tasks/remove_service.yml"
  with_items:
    - {service: "{{ paperless_identifier }}.service", path: "{{ devture_systemd_docker_base_systemd_path }}/{{ paperless_identifier }}.service"}

- name: Ensure paperless base path is files deleted
  ansible.builtin.file:
    path: "{{ paperless_base_path }}"
    state: absent
