{% if paperless_container_labels_traefik_enabled %}
{% if paperless_container_labels_traefik_docker_network %}
traefik.docker.network={{ paperless_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if paperless_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in paperless_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ paperless_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [paperless_identifier + '-add-request-headers'] %}
{% endif %}

{% if paperless_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in paperless_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ paperless_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [paperless_identifier + '-add-response-headers'] %}
{% endif %}

traefik.enable=true
{% endif %}
traefik.http.routers.{{ paperless_identifier }}.rule={{ paperless_container_labels_traefik_rule }}
{% if paperless_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ paperless_identifier }}.priority={{ paperless_container_labels_traefik_priority }}
{% endif %}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ paperless_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ paperless_identifier }}.service={{ paperless_identifier }}
traefik.http.routers.{{ paperless_identifier }}.entrypoints={{ paperless_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ paperless_identifier }}.tls={{ paperless_container_labels_traefik_tls | to_json }}
{% if paperless_container_labels_traefik_tls %}
traefik.http.routers.{{ paperless_identifier }}.tls.certResolver={{ paperless_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.services.{{ paperless_identifier }}.loadbalancer.server.port={{ paperless_container_http_port }}

{% if paperless_metrics_enabled %}
traefik.http.routers.{{ paperless_identifier }}-metrics.rule={{ paperless_metrics_container_labels_traefik_rule }}
traefik.http.routers.{{ paperless_identifier }}-metrics.service={{ paperless_identifier }}-metrics
traefik.http.routers.{{ paperless_identifier }}-metrics.entrypoints={{ paperless_metrics_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ paperless_identifier }}-metrics.tls={{ paperless_metrics_container_labels_traefik_tls | to_json }}
{% if paperless_metrics_container_labels_traefik_tls %}
traefik.http.routers.{{ paperless_identifier }}-metrics.tls.certResolver={{ paperless_metrics_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ paperless_identifier }}-metrics.loadbalancer.server.port=9300
{% endif %}

{{ paperless_container_labels_additional_labels }}
